## Archivos de entorno y temporales de Visual Studio
.vs/
*.user
*.userosscache
*.sln.docstates

## Carpetas de compilación (.NET)
bin/
obj/

## Archivos de paquetes y dependencias
*.nupkg
packages/

## Logs y temporales
*.log
*.tmp